body {
    background-image: url("../images/btn/background.jpg");
    color: whitesmoke;
}

th, td {
    padding: 5px;
    max-width: 600px;
}

.armor-list-table, .armor-list-table td, .armor-list-table th {
    background-image: url("../images/btn/background.jpg");
    border-collapse: collapse;
    color: whitesmoke;
    width: auto;
    padding: 5px;
    margin: auto;
}

.armor-list-table td img {
    width: 250px;
}

.maincontext {
    margin: auto;
    text-align: center;
    color: white;
}

.login-link-container {
    padding-top: 5%;
    background-image: url("../images/btn/background.jpg");
    text-align: center;
}

.logintable {
    margin: auto;
}
/*Armor add css*/
.armoraddform{
    text-align: -webkit-center;
    font-family: "Courier New", sans-serif;
}
.description{
    width: 300px;
    height: 150px;
}
.name{
    width: 300px;
}
.price{
    width: 300px;}
.size{
    width: 300px;}
.addimage{
    width: 300px;}
/*Login form css*/
.loginform {
    height: 554px;
    width: 550px;
    margin: auto;
    background-image: url("../images/btn/login.png");
    align-content: center;
}

.logintable {
    color: whitesmoke;
    text-align: center;
    padding-top: 60%;
    margin: auto;
    width: 330px;
}
.loginfail {
    color: red;
    font-family: "Courier New", sans-serif;
}

.table-images {
    width: 200px;
    height: auto;
}

.error {
    color: red;
}
.myButton {
    -moz-box-shadow: 3px 3px 7px -1px #a6827e;
    -webkit-box-shadow: 3px 3px 7px -1px #a6827e;
    box-shadow: 3px 3px 7px -1px #a6827e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8dfd6), color-stop(1, #1a1817));
    background:-moz-linear-gradient(top, #e8dfd6 5%, #1a1817 100%);
    background:-webkit-linear-gradient(top, #e8dfd6 5%, #1a1817 100%);
    background:-o-linear-gradient(top, #e8dfd6 5%, #1a1817 100%);
    background:-ms-linear-gradient(top, #e8dfd6 5%, #1a1817 100%);
    background:linear-gradient(to bottom, #e8dfd6 5%, #1a1817 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8dfd6', endColorstr='#1a1817',GradientType=0);
    background-color:#e8dfd6;
    -moz-border-radius:11px;
    -webkit-border-radius:11px;
    border-radius:11px;
    border:1px solid #29231e;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:13px;
    font-weight:bold;
    padding:7px 24px;
    text-decoration:none;
    text-shadow:2px 2px 3px #4d3534;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a1817), color-stop(1, #e8dfd6));
    background:-moz-linear-gradient(top, #1a1817 5%, #e8dfd6 100%);
    background:-webkit-linear-gradient(top, #1a1817 5%, #e8dfd6 100%);
    background:-o-linear-gradient(top, #1a1817 5%, #e8dfd6 100%);
    background:-ms-linear-gradient(top, #1a1817 5%, #e8dfd6 100%);
    background:linear-gradient(to bottom, #1a1817 5%, #e8dfd6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1817', endColorstr='#e8dfd6',GradientType=0);
    background-color:#1a1817;
}
.myButton:active {
    position:relative;
    top:1px;
}
